@page {
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
}
table {
  border: none;
  width: 100%;
}
.font {
  color: white;
  text-align: center;
}
.image-header{
  background-image: url('https://quicard-web.s3.sa-east-1.amazonaws.com/INOVA/images/INOVAN001/background-header.png');
  background-size: cover; 
  background-position: center;
  height: 262px;
  margin: 0;
}
.data-card{
  color: white;
  text-align: right;
}
